@charset "UTF-8";

/* id em HTML vira # em CSS 
em HTML e class em CSS vira .*/

body{
    background-color: rgba(184, 235, 184, 0.685);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {   
    color: rgba(22, 207, 22, 0.479);
}

h1#principal {
    text-align: center;
    background-color: black;
    color: white;
}

h2 {
    color: rgb(18, 75, 7);
}

.basico {
    color: rgb(0, 0, 0);
}

.intermediario {
    color: rgb(158, 158, 37);
}

.avancado {
    color: red;
}